
/*
 $themePrimaryColor: maroon;
 $themeSecondaryColor: rgb(168, 6, 6);
  $themeCardColor: aliceblue;
   $themeLightTextColor: white;
    $themeDarkTextColor: black;
*/

.drinkDetailsBody {
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid black;
  margin: 1%;
  padding: 2%;
  background-color:rgb(168, 6, 6);
}

.drinkDetailsName {
    size: 1.5em;
    margin-bottom: 2%;
    color:white;
}

.drinkDetailsContents{
  display: flex;
  flex-flow: row nowrap;
  justify-content:  space-evenly;
}
.drinkDetailsIngredients {
  display: flex;
  flex-flow: column nowrap;
  margin-right: 5%;
  border: 1px solid black;
  margin: 1%;
  width: 50%;
  padding: 1%;
  background-color: aliceblue;
}

.drinkDetailsIngredients ul {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;

}


.drinkDetailsIngredients li {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    margin: 2%;
}

.drinkDetailsSteps{
  display: flex;
  flex-flow: row wrap;
  border: 1px solid black;
  margin: 1%;
  padding: 2%;
  background-color: aliceblue;
}